Here is the code to access the forumdb on our Ubuntu instance:
```shell
sudo service postgresql start
psql
```
```psql
chris=# \c forumdb
```

# Queries
The process of retrieving or the command to retrieve data from a database is called a query. In SQL the `SELECT` command is used to specify queries.
# The `SELECT` command
The general syntax of the `SELECT` command is:
```sql
SELECT column_name(s)
FROM table_expression
WHERE condition(s);
```
## `SELECT * from tablename;`
The select command is executed in order to retrieve rows from a table (relation).
## `forumdb=# select * from users;`
```
 pk | username | gecos | email
----+----------+-------+-------
(0 rows)
```
With this SQL statement, PostgreSQL returns all the data present in all the fields of the table `users`.
### Note: `forumdb=# select pk,username,gecos,email from users;` returns the same results as `forumdb=# select * from users;`
# The value `*`
The value * specifies all the fields present.

# LIMIT
The LIMIT keyword is used to limit the number of rows returned by a SELECT statement.

In [ ]:
/* Return the first five results */
select author, length(author) from books limit 5;
/* 
       author        | length 
---------------------+--------
 Don Norman          |     10 
 Gerald Tenenbaum    |     16 
 Edwin A. Abbott     |     15 
 Mark Z. Danielewski |     19 
 Kyle Simpson        |     12 
(5 rows)                      
 */

# WHERE
The where clause is used to find the rows in a table that match a given condition. Note that strings (pieces of text that are data) should be in 'single quotes'.

In [ ]:
-- Shows the population of France
SELECT population FROM world
  WHERE name = 'France'
-- Shows the population of Germany 
SELECT population FROM world
  WHERE name = 'Germany'
/* 
population
80716000
 */

# `IN`
In allows us to check if a value is in a provided list. It works in combination with WHERE.
## The list is provided as a string, separated by commas, all inside of parentheses.
`WHERE word IN('this', 'is', 'a', 'list');`

In [ ]:
--The example shows the name and population for the countries 'Brazil', 'Russia', 'India' and 'China'.
SELECT name, population FROM world
  WHERE name IN ('Brazil', 'Russia', 'India', 'China');

-- Show the name and the population for 'Sweden', 'Norway' and 'Denmark'.
SELECT name, population FROM world
  WHERE name IN ('Sweden', 'Norway', 'Denmark');
  /* 
name	population
Denmark	5634437
Norway	5124383
Sweden	9675885
 */

# BETWEEN 
`BETWEEN` allows range checking (range specified is inclusive of boundary values)

In [ ]:
--The example below shows countries with an area between 250,000 and 300,000 sq. km.
SELECT name, area FROM world
  WHERE area BETWEEN 250000 AND 300000
--Modify it to show the country and the area for countries with an area between 200,000 and 250,000.
SELECT name, area FROM world
  WHERE area BETWEEN 200000 AND 250000
/* name	area
Belarus	207600
Ghana	238533
Guinea	245857
Guyana	214969
Laos	236800
Romania	238391
Uganda	241550 */

# SQLZOO practice
## table `world` in `sqlzoo` database
## relation name: world
## attribute names: name	continent	area	population	gdp
1. The example uses a WHERE clause to show the population of 'France'. Note that strings (pieces of text that are data) should be in 'single quotes';
- Modify it to show the population of Germany

## Question 13. from Select from the world table in sqlzoo [link](https://www.sqlzoo.net/wiki/SELECT_from_WORLD_Tutorial.html)

In [ ]:
-- Select the country that has each vowel and no spaces in its name.
select name from world where name like '%a%' and name like '%e%' and name like '%i%' and name like '%o%' and name like '%u%' and name not like '% %';

In [ ]:
-- Show the countries which have a name that includes the word 'United'
select name from world where name like '%United%';

# `OR` Inclusive `OR`

In [ ]:
-- Show the countries that are big by area or big by population. Show name, population and area. A country is big if it has an area of more than 3 million sq km or it has a population of more than 250 million.
select name, population, area from world where area > 3000000 or population > 250000000;

# `XOR` `Exclusive OR`

In [ ]:
--  Show the countries that are big by area (more than 3 million) or big by population (more than 250 million) but not both. Show name, population and area.
select name, population, area from world where area > 3000000 and population > 250000000 and area < population;