# Functions and links to docs
# Aggregate Functions
Aggregate functions perform a calculation on a set of rows and return a single row.
PostgreSQL provides all the standard SQL aggregate functions.
## Aggregate functions are used in conjunction with the GROUP BY clause.
A `GROUP BY` clause splits a resultset into groups of rows and aggregate functions perform calculations on them.
### Other Functions: SQLZoo: [sqlzoo functions page](https://sqlzoo.net/wiki/FUNCTIONS)
# Math Functions in postgresql 14: [postgresql-math-functions](https://www.postgresql.org/docs/14/functions-math.html)
# String Functions [postgresdocs](https://www.postgresql.org/docs/12/functions-string.html)
# string functions postgres 14: https://www.postgresql.org/docs/14/functions-string.html
# Comparison Functions and operators [postgresdocs](https://www.postgresql.org/docs/14/functions-comparison.html)

In [ ]:

/* For example, if we wanted to count how many records there are for each category,
PostgreSQL first groups the data and then counts it. */
select category,count(*) from posts group by category;

# AVG(): This function returns the average value.
AVG gives the average (the mean) of a whole column or a group of rows for a single column of values.

AVG is an aggregate function it is normally used with GROUP BY.

The mean of the values 2, 5, 5 is (2+5+5)/3 = 12/3 = 4, you divide by 3 because there are 3 numbers in this example.

NULL values do not contribute to the calculation.
```
SELECT region, AVG(population)
FROM bbc
GROUP BY region;
```

# COUNT(): This function returns the number of values.

# MAX(): This function returns the maximum value.

# MIN(): This function returns the minimum value.

# SUM(): This function returns the sum of values.

# Round(): This function returns the rounded value.
Arguments for Round() function are:
- Value to be rounded
- Number of decimal places to round to (default is 0), and negative values indicate rounding to the left of the decimal point; this will round to the nearest 10 (when p is -1) or 100 (when p is -2) or 1000 (when p is -3) etc.
[round on postgres.org/docs/12/functions.html#ROUND]: https://www.postgresql.org/docs/12/functions-math.html#ROUND [round on sqlzoo]: https://sqlzoo.net/wiki/ROUND
```sql
ROUND(7253.86, 0)   -- ->  7254
ROUND(7253.86, 1)   -- ->  7253.9
ROUND(7253.86,-3)   -- ->  7000
```

# `left(s,n)`allows you to extract the first `n` characters from the start of string `s`.
```sql
LEFT('Hello world', 4) -> 'Hell'     
```
[postgresdocs](https://www.postgresql.org/docs/12/functions-string.html)
[sqlzoo](https://sqlzoo.net/wiki/LEFT)

In [ ]:
LEFT('Hello world', 4) -- 'Hell'     
RIGHT('Hello world', 4) -- 'orld'
SELECT name,
       LEFT(name, 3)
  FROM bbc
  /*  */

# `right(s,n)` allows you to extract the last `n` characters from the end of string `s`.
[sqlzoo](https://sqlzoo.net/wiki/RIGHT)

`right ( string text, n integer )`
Return Value: `text`

Returns last n characters in the string, or when n is negative, returns all but first |n| characters.

`right('abcde', 2)` → de

[postgresdocs](https://www.postgresql.org/docs/14/functions-string.html#:~:text=right%20(%20string%20text,abcde%27%2C%202)%20%E2%86%92%20de)

In [ ]:
SELECT name,
       RIGHT(name, 3)
  FROM bbc
/*Result:
name    |	RIGHT(name, 3)
------+----------
Angola  |	ola
Benin   |	nin
Botswana|	ana
*/

In [ ]:
/*Show the name and capital where the name and the capital have the same number of characters.*/  
select name,capital from world where length(name)=length(capital);

In [ ]:
/*  Show the name and the capital where the first letters of each match.
Use the function LEFT to isolate the first character.
Don't include countries where the name and capital are identical. */
    */
select name, capital from world where LEFT(name,1)=LEFT(capital,1) and name<>capital;

# Comparison Functions and Operators
## A note on "not equal"
`<>` is the standard SQL notation for “not equal”. `!=` is an alias, which is converted to `<>` at a very early stage of parsing. Hence, it is not possible to implement `!=` and `<>` operators that do different things.
## What can be compared?
These comparison operators are available for **all built-in data types that have a natural ordering**, including **numeric, string, and date/time types**. In addition, **arrays, composite types, and ranges can be compared if their component data types are comparable.**
- It is usually possible to compare values of related data types as well; for example integer > bigint will work. 
## All comparison operators are **binary operators**.
Thus, expressions like `1 < 2 < 3` **are not valid** (because there is no < operator to compare a Boolean value with 3). Use the `BETWEEN` predicates shown below to perform range tests.
## What is the result of the comparison? A BOOLEAN!
```sql
--Less than
datatype < datatype
--Greater than
datatype > datatype
--Less than or equal to
datatype <= datatype
--Greater than or equal to
datatype >= datatype
-- Equal
datatype = datatype 
--Not equal
datatype <> datatype
--Not equal (alias)
datatype != datatype
```